@using System.Security.Claims;
 <!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/css/MainStyles.css" asp-append-version="true" />
    </head>

    <body>
        <header  class="btnContainer">
            <div authentication-status="@SocialNetworkServer.CustomTagHelpers.Enums.AuthenticationStatus.Authenticated">
                <a asp-controller="Users" asp-action="UserPage" asp-route-id="@User.FindFirst(ClaimTypes.NameIdentifier)?.Value">Моя страница</a>
                <a asp-controller="Users" asp-action="Index">Пользователи</a>
                <a asp-controller="Groups" asp-action="Index">Группы</a>
                <a asp-controller="Chats" asp-action="Index">Мои чаты</a>
            </div>
            <div authentication-status="@SocialNetworkServer.CustomTagHelpers.Enums.AuthenticationStatus.Authenticated">
                <a asp-controller="Account" asp-action="AccountSettings">Настройки</a>
                <a asp-controller="Home" asp-action="Index">📧</a>
            </div>
            <div authentication-status="@SocialNetworkServer.CustomTagHelpers.Enums.AuthenticationStatus.NotAuthenticated">
                <a asp-controller="Home" asp-action="Index">Авторизация</a>
            </div>

        </header>

        <div id="errorWindow" class="error-window">
            <span id="errorMessage" class="error-message"></span>
        </div>

        <main role="main">
            @RenderBody()
        </main>

    </body>
    <script src="~/js/ErrorHandler.js" asp-append-version="true"></script>
</html>