@using SocialNetworkServer.Enums;
@model UserPageModel
@{
    ViewData["Title"] = Model.userInfo.GetFullName();
}
<link rel="stylesheet" href="~/css/PostEditorStyles.css" asp-append-version="true" />

<div id="meta">
    <span id="IsOwner" data-owner="@Model.metaData!.VisitorIsOwner" style="display: none;"></span>
    <span id="PageId" data="@Model.userInfo.UserId" style="display: none;"></span>
</div>

<div class="main_content">
    <div>
        <h3 id="userFullName" class="underlined_title">@Model.userInfo.GetFullName()</h3>
    </div>
    
    <div>
        <subscription-button id="subscribeBtn" user-id="Model.metaData!.VisitorId" page-id="Model.userInfo.UserId" page-type="userPage" />
        <a asp-action="UserSubscribtions" asp-controller="Users" asp-route-id="@Model.userInfo.UserId" asp-route-filter="@SubscriptionTypes.subscribers" class="custom_link">Подписчики</a>
        <a asp-action="UserSubscribtions" asp-controller="Users" asp-route-id="@Model.userInfo.UserId" asp-route-filter="@SubscriptionTypes.subscriptions" class="custom_link">Подписки</a>
        <a asp-action="UserSubscribtions" asp-controller="Users" asp-route-id="@Model.userInfo.UserId" asp-route-filter="@SubscriptionTypes.groups" class="custom_link">Группы</a>
    </div>
    
    <div>
        @if (Model.metaData.VisitorIsOwner)
        {
            <div>
                <textarea id="postContent" class="post_textarea"></textarea>
                <br>
                <button id="publishBtn" class="custom_button">Опубликовать</button>
            </div>   
        }
    </div>

    <div id="postsContainer">
    </div>
    <button id="AddLoadPostsBtn" class="custom_button" style="display:none">Показать больше</button>
</div>
<script src="~/js/userPosts.js" asp-append-version="true"></script>

@if (!Model.metaData.VisitorIsOwner)
{
    <script src="/js/userSubscribe.js" asp-append-version="true"></script>
}
